$primary-color: #3E6990;
$secondary-color: #381D2A;
$white-shade: #F3F6FB;
$button-text-color: white;
$nav-text-color: #FFFFFF;
$nav-link-hover-bg-color: #F3F6FB;
$nav-link-hover-text-color: #381D2A;
$link-color: blue;
